service firebase.storage {
  match /b/{bucket}/o {
    match /users/{uid}/strategies/{sid} {
      allow create, delete: if request.auth != null
        && request.auth.uid == uid;
    }

    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
