service firebase.storage {
  function isValidStrategy(strategy) {
    return strategy.size < 50 * 1024
      && strategy.contentType.matches('image/png');
  }
  match /b/{bucket}/o {
    match /users/{uid}/strategies/{sid} {
      allow create, delete: if request.auth != null
        && request.auth.uid == uid
        && isValidStrategy(request.resource);
    }

    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
