@font-face {
  font-family: "NuKinakoMochiFw-Reg";
  src: url("/assets/NuKinakoMochiFw-Reg.eot?") format('eot'),
       url("/assets/NuKinakoMochiFw-Reg.woff2") format('woff2'),
       url("/assets/NuKinakoMochiFw-Reg.woff") format('woff');
}

body {
  font-family: "NuKinakoMochiFw-Reg";
}

.tooltip {
  font-family: "NuKinakoMochiFw-Reg" !important;
}
